rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /{document=**} {
      // Permite leer y escribir a cualquier usuario que esté autenticado.
      // Esto significa que el 'request.auth' no debe ser nulo.
      allow read, write: if request.auth != null;
    }
  }
}